
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
    display: block;
    margin: 0 auto;
  }
  
.header{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  border: 1px solid black;
  align-items: center;
}

.logo {
    width: 100px;
    cursor: pointer;
  }


.nav-items > ul {
    font-size: 24px;
  display: flex;
  list-style-type: none;

}

.nav-items > ul > li {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
  }

  .res-card{
    margin: 10px;
    padding: 15px;
    width: 220px;
    min-height: 350px; 
    background-color: #f0f0f0;
    border-radius: 8px; 
    overflow: hidden; 
  }

 
  .res-card:hover {
    border: 1px solid black ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  .res-container{
    display: flex;
    flex-wrap: wrap;
  }
   
  .res-logo{
    width: 100%;
    height: auto; 
    border-radius: 8px;
  }

 
  .heading{
    margin-top: 10px;
    font-size: 16px; 
    color: #333; 
    line-height: 1.2; 
  }

 
  .search-input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px; 
    outline: none;
  }
  .search-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
    font-size: 18px;
}

  
  .search-icon {
    font-size: 18px;
    
  }
  .search-btn .search-icon {
    margin-right: 8px; 
    font-size: 18px;   
  }
 
  .search-container{
      width: 500px;
      margin: auto;
      position: relative;
  }

  .search-bar {
    display: flex;
    align-items: center;
    position: relative;
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .suggestion-box{
    position: absolute;
    display: block;
    width: 100%;
    background: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .suggestionList{
    border-bottom: 1px solid #dcdcdc;
    padding: 8px 16px 8px 16px;
  }